In [23]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [24]:
# df contains prices of top 20 most common dog breeds and least common 10
df = pd.read_csv('dog_prices_top20_bottom10.csv')
df2 = pd.read_csv("20170308hundehalter.csv")

In [25]:
df=df.drop('price',axis=1)

In [26]:
# drop 2 rows where i didn't find price for dogs
df.dropna(how='any', inplace=True)

In [27]:
# get number of dogs per breed
df2 = df2['RASSE1'].value_counts().sort_values(ascending=False)
df2
# df2.index

RASSE1
Mischling klein        620
Chihuahua              516
Labrador Retriever     439
Yorkshire Terrier      298
Jack Russel Terrier    290
                      ...
Bull Terrier             1
Polnische Bracke         1
Alano                    1
Deutscher Kurzhaar       1
Laufhund                 1
Name: count, Length: 304, dtype: int64

In [28]:
# delete dog breeds that are not in dog prices csv
for i in df2.index:
    # print(i)
    if i not in df['breed'].values:
        df2.drop(i,inplace=True)
df2

RASSE1
Mischling klein                620
Chihuahua                      516
Labrador Retriever             439
Yorkshire Terrier              298
Jack Russel Terrier            290
Französische Bulldogge         213
Malteser                       205
Mops                           171
Golden Retriever               153
Bolonka Zwetna                 100
Pudel                          100
Border Collie                   98
Beagle                          95
West Highland White Terrier     92
Zwergspitz                      88
Pinscher                        87
Schäfer                         84
Pekingese                       81
Shih Tzu                        77
Daisy-Dog                        1
Niederlaufhund                   1
Affenpinscher                    1
Slovensky Cuvac                  1
Elo                              1
Berger de Beauce                 1
Chodsky pes                      1
Curly Coated Retriever           1
Laufhund                         1
Name: count, dtype: int64

In [29]:
df[['from', 'to']] = df[['from', 'to']].astype(int)
df.head()

                 breed  from    to
0      Mischling klein   400   700
1            Chihuahua   500  1500
2   Labrador Retriever   700  1500
3    Yorkshire Terrier   600  2500
4  Jack Russel Terrier   800  2000

In [30]:
df['mean_price'] = (df['from'] + df['to']) / 2
df

                          breed  from    to  mean_price
0               Mischling klein   400   700       550.0
1                     Chihuahua   500  1500      1000.0
2            Labrador Retriever   700  1500      1100.0
3             Yorkshire Terrier   600  2500      1550.0
4           Jack Russel Terrier   800  2000      1400.0
5        Französische Bulldogge  1500  8000      4750.0
7                      Malteser   600  2340      1470.0
8                          Mops   600  2000      1300.0
9              Golden Retriever  1000  5000      3000.0
10                        Pudel   600  2000      1300.0
11               Bolonka Zwetna  1500  1800      1650.0
12                Border Collie   700  2000      1350.0
13                       Beagle  1000  1500      1250.0
14  West Highland White Terrier   800  1700      1250.0
15                   Zwergspitz  1500  3000      2250.0
16                     Pinscher  1000  6000      3500.0
17                      Schäfer  1500  5000      3250.0
18                    Pekingese   750  3000      1875.0
19                     Shih Tzu   500  1800      1150.0
20               Niederlaufhund   600   700       650.0
21                Affenpinscher   800  2000      1400.0
22              Slovensky Cuvac   800  1200      1000.0
23                          Elo  1200  1500      1350.0
24             Berger de Beauce  2000  2500      2250.0
25                    Daisy-Dog   975  2875      1925.0
26                  Chodsky pes  2000  2500      2250.0
28       Curly Coated Retriever  1000  2500      1750.0
29                     Laufhund   800  2500      1650.0

In [31]:
# add numbers of dogs to df with prices

df['nr_of_dogs'] = None
df
for i in range(df.shape[0]):
    # print()
    df_breed_name = df.iloc[i].values[0]
    # print(f"df  {df_breed_name}")
    # print(f"df  {df.iloc[i]['nr_of_dogs']}")
    # print(f"df2 {(df2.loc[df_breed_name])}")
    df.iloc[i,df.columns.get_loc('nr_of_dogs')] = df2.loc[df_breed_name]
    # print(f"df  {df.iloc[i]['nr_of_dogs']}")
# df2

In [32]:
df

                          breed  from    to  mean_price nr_of_dogs
0               Mischling klein   400   700       550.0        620
1                     Chihuahua   500  1500      1000.0        516
2            Labrador Retriever   700  1500      1100.0        439
3             Yorkshire Terrier   600  2500      1550.0        298
4           Jack Russel Terrier   800  2000      1400.0        290
5        Französische Bulldogge  1500  8000      4750.0        213
7                      Malteser   600  2340      1470.0        205
8                          Mops   600  2000      1300.0        171
9              Golden Retriever  1000  5000      3000.0        153
10                        Pudel   600  2000      1300.0        100
11               Bolonka Zwetna  1500  1800      1650.0        100
12                Border Collie   700  2000      1350.0         98
13                       Beagle  1000  1500      1250.0         95
14  West Highland White Terrier   800  1700      1250.0         92
15                   Zwergspitz  1500  3000      2250.0         88
16                     Pinscher  1000  6000      3500.0         87
17                      Schäfer  1500  5000      3250.0         84
18                    Pekingese   750  3000      1875.0         81
19                     Shih Tzu   500  1800      1150.0         77
20               Niederlaufhund   600   700       650.0          1
21                Affenpinscher   800  2000      1400.0          1
22              Slovensky Cuvac   800  1200      1000.0          1
23                          Elo  1200  1500      1350.0          1
24             Berger de Beauce  2000  2500      2250.0          1
25                    Daisy-Dog   975  2875      1925.0          1
26                  Chodsky pes  2000  2500      2250.0          1
28       Curly Coated Retriever  1000  2500      1750.0          1
29                     Laufhund   800  2500      1650.0          1

In [33]:
# if high number of dogs represent high demand
df.sort_values(['nr_of_dogs', 'mean_price'], ascending=[False,False])

                          breed  from    to  mean_price nr_of_dogs
0               Mischling klein   400   700       550.0        620
1                     Chihuahua   500  1500      1000.0        516
2            Labrador Retriever   700  1500      1100.0        439
3             Yorkshire Terrier   600  2500      1550.0        298
4           Jack Russel Terrier   800  2000      1400.0        290
5        Französische Bulldogge  1500  8000      4750.0        213
7                      Malteser   600  2340      1470.0        205
8                          Mops   600  2000      1300.0        171
9              Golden Retriever  1000  5000      3000.0        153
11               Bolonka Zwetna  1500  1800      1650.0        100
10                        Pudel   600  2000      1300.0        100
12                Border Collie   700  2000      1350.0         98
13                       Beagle  1000  1500      1250.0         95
14  West Highland White Terrier   800  1700      1250.0         92
15                   Zwergspitz  1500  3000      2250.0         88
16                     Pinscher  1000  6000      3500.0         87
17                      Schäfer  1500  5000      3250.0         84
18                    Pekingese   750  3000      1875.0         81
19                     Shih Tzu   500  1800      1150.0         77
24             Berger de Beauce  2000  2500      2250.0          1
26                  Chodsky pes  2000  2500      2250.0          1
25                    Daisy-Dog   975  2875      1925.0          1
28       Curly Coated Retriever  1000  2500      1750.0          1
29                     Laufhund   800  2500      1650.0          1
21                Affenpinscher   800  2000      1400.0          1
23                          Elo  1200  1500      1350.0          1
22              Slovensky Cuvac   800  1200      1000.0          1
20               Niederlaufhund   600   700       650.0          1

In [34]:
# if high number of dogs represent oversupply, (prices could drop)
df.sort_values(['nr_of_dogs', 'mean_price'], ascending=[True,True])

                          breed  from    to  mean_price nr_of_dogs
20               Niederlaufhund   600   700       650.0          1
22              Slovensky Cuvac   800  1200      1000.0          1
23                          Elo  1200  1500      1350.0          1
21                Affenpinscher   800  2000      1400.0          1
29                     Laufhund   800  2500      1650.0          1
28       Curly Coated Retriever  1000  2500      1750.0          1
25                    Daisy-Dog   975  2875      1925.0          1
24             Berger de Beauce  2000  2500      2250.0          1
26                  Chodsky pes  2000  2500      2250.0          1
19                     Shih Tzu   500  1800      1150.0         77
18                    Pekingese   750  3000      1875.0         81
17                      Schäfer  1500  5000      3250.0         84
16                     Pinscher  1000  6000      3500.0         87
15                   Zwergspitz  1500  3000      2250.0         88
14  West Highland White Terrier   800  1700      1250.0         92
13                       Beagle  1000  1500      1250.0         95
12                Border Collie   700  2000      1350.0         98
10                        Pudel   600  2000      1300.0        100
11               Bolonka Zwetna  1500  1800      1650.0        100
9              Golden Retriever  1000  5000      3000.0        153
8                          Mops   600  2000      1300.0        171
7                      Malteser   600  2340      1470.0        205
5        Französische Bulldogge  1500  8000      4750.0        213
4           Jack Russel Terrier   800  2000      1400.0        290
3             Yorkshire Terrier   600  2500      1550.0        298
2            Labrador Retriever   700  1500      1100.0        439
1                     Chihuahua   500  1500      1000.0        516
0               Mischling klein   400   700       550.0        620